<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar Contraseña</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="profile-container">
        <div class="profile-card">
            <h2>Cambiar Contraseña</h2>
            <form id="change-password-form">
                <input type="password" id="current-password" placeholder="Contraseña Actual" required>
                <input type="password" id="new-password" placeholder="Nueva Contraseña" required>
                <input type="password" id="confirm-password" placeholder="Confirmar Nueva Contraseña" required>
                <button type="submit">Guardar Cambios</button>
            </form>
            <button id="back-button">Volver</button>
        </div>
    </div>
    <script>
        document.getElementById('change-password-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const currentPassword = document.getElementById('current-password').value;
            const newPassword = document.getElementById('new-password').value;
            const confirmPassword = document.getElementById('confirm-password').value;

            if (newPassword !== confirmPassword) {
                alert('Las nuevas contraseñas no coinciden.');
                return;
            }

            fetch('/change_password', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    current_password: currentPassword,
                    new_password: newPassword
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Contraseña actualizada con éxito');
                    window.location.href = '/';
                } else {
                    alert(data.message);
                }
            });
        });

        document.getElementById('back-button').addEventListener('click', function() {
            window.location.href = '/';
        });
    </script>
</body>
</html>
